footer {
  color: 1px #faf8f8;
  font-family: "jura";
}

footer .logo {
  margin-left: 4%;
}

.footerWrapper {
  display: flex;
  margin: 0%;
  width: 100%;
  height: 100%;
}

.footerButton {
  background-color: transparent;
  border: 1px solid #faf8f8;
  border-radius: 5px;
  padding: 1.2vh;
  margin-top: 1.2vh;
}

.footerButton:hover {
  background-color: #8237e1;
  color: #23272d;
  cursor: pointer;
  border: 1px solid #8237e1;
}

.logoAndQuestions {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
}

.callToAction span {
  font-size: 4.5vh;
}

.callToAction button {
  font-size: 4.5vh;
}

.socialIcons :first-child {
  margin-right: 3.8vw;
}

.newsletter {
  padding: 5%;
}

.newsletter p {
  font-size: 5vw;
  line-height: 1em;
}

.newsletter button {
  font-size: 3vw;
}

.services {
  font-family: "jura";
  text-align: left;
  width: 100%;
}

.serviceWrapper {
  justify-self: flex-start;
  width: 100%;
  justify-content: space-evenly;
}

.services h3 {
  text-align: left;
  font-size: 4vh;
  margin-right: 20%;
  margin-bottom: 10%;
}

.services ul {
  font-size: 3vh;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.services li {
  margin-bottom: 1.8em;
}

.services li:hover {
  text-decoration: 3px #8237e1 underline;
  cursor: pointer;
}

/* Social media icons */

.socialMedia {
  margin-left: 0%;
}

.socialIcons {
  position: relative;
  margin: 0.5vw;
}

.socialIconsHover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.socialIcons:hover .socialIconsHover {
  opacity: 1;
  cursor: pointer;
}

.socialIconsMain:hover {
  opacity: 0;
  transition: opacity 0.2s;
}

.mobileQuestionButton {
  display: none;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logoAndQuestions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoAndQuestions .logo img {
  width: 100%;
}
.callToAction {
  margin: 0.5vw;
  right: 0%;
}
.footerFlex {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.newsAndSocial {
  width: 100%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 70px;
}
.socialMediaMobile {
  display: none;
}

.serviceWrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.services {
  width: 100%;
  height: 100%;
  padding-top: 6%;
}
/* media-queries footer */
@media screen and (max-width: 480px) {
  .newsAndSocial {
    max-width: 90vw;
  }
  .logoAndQuestions .logo img {
    width: 20wv;
  }
}
@media screen and (max-width: 1020px) {
  .footerWrapper {
    flex-direction: column;
  }
  .services {
    margin-left: 10%;
    margin-right: 5%;
  }

  .socialMediaMobile {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  .socialMedia {
    display: none;
  }
}

/* Mobile view */

@media screen and (max-width: 760px) {
  .footerWrapper {
    flex-direction: column;
  }

  .services {
    margin-left: 0%;
    margin-right: 0%;
  }

  .services ul {
    display: none;
  }
  .socialMediaMobile {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }

  .serviceWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services h3 {
    justify-self: center;
    text-align: center;
    font-size: 5vw;
    margin-right: 0%;
    margin-bottom: 10%;
  }

  .desktopQuestion {
    display: none;
  }

  .callToAction {
    margin-right: 0;
    width: 100%;
    height: 100%;
  }

  .callToAction button {
    font-size: 15px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .mobileQuestionButton {
    display: block;
  }

  .desktopQuestionButton {
    display: none;
    background-color: aliceblue;
  }

  .newsletter p {
    font-size: 28px;
    align-self: center;
  }

  .newsletter button {
    font-size: 15px;
  }

  .socialMedia {
    display: none;
  }

  .socialIcons {
    padding: 0px;
  }

  .socialIconsMain {
    width: 55px;
    height: 55px;
  }

  .socialIconsHover {
    width: 55px;
    height: 55px;
  }

  .socialIconsMobile {
    width: 55px;
    height: 55px;
  }

  .socialIcons :first-child {
    margin-right: 0px;
  }
}
