footer {
  color: 1px #faf8f8;
  font-family: "jura";
}

footer .logo {
  margin-left: 4%;
}

.footerButton {
  background-color: transparent;
  border: 1px solid #faf8f8;
  border-radius: 5px;
  padding: 10px;
}

.footerButton:hover {
  background-color: #faf8f8;
  color: #23272d;
  cursor: pointer;
}

.logoAndQuestions {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
}

.callToAction span {
  font-size: 36px;
}

.callToAction button {
  font-size: 36px;
  margin-right: 100px;
  margin-left: 50px;
}

.newsletter p {
  font-size: 60px;
}

.newsletter button {
  font-size: 36px;
}

.services h3 {
  font-size: 36px;
  margin-right: 20%;
  margin-bottom: 10%;
}

.services ul {
  font-size: 24px;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.services li {
  margin-bottom: 30%;
}

/* Social media icons */

.socialMedia {
  margin-left: 0%;
}

.socialIcons {
  position: relative;
  margin: 5px;
}

.socialIconsHover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.socialIcons:hover .socialIconsHover {
  opacity: 1;
  cursor: pointer;
}

.socialIconsMain:hover {
  opacity: 0;
  transition: opacity 0.2s;
}

/* media-queries footer */

@media screen and (max-width: 600px) {
  .footerWrapper {
    flex-direction: column;
  }

  .socialMediaMobile {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }

  .socialMedia {
    display: none;
  }

  .serviceWrapper {
    flex-direction: column;
  }

  .services ul {
    display: none;
  }
}
