.heroContent {
  margin-top: 160px;
  margin-left: 149px;
}

.heroImage {
  height: 324px;
  padding-left: 100px;
  align-self: flex-end;
  margin-bottom: 150px;
}

@media screen and (max-width: 480px) {
  .logo img {
    width: 70vw;
  }

  .hero h1 {
    font-size: 50px;
    margin-left: 5px;
    padding-left: 0;
  }

  .hero {
    height: 440px;
  }

  .heroContent {
    margin-top: 150px;
    margin-left: 17px;
    width: 300px;
  }

  .purpleText {
    width: 280px;
  }

  .heroImage {
    align-self: flex-start;
    position: absolute;
    padding-left: 250px;
    padding-top: 50px;
  }

  .heroImage Img {
    height: 130px;
  }
}
