.heroContent {
  margin-top: 160px;
  margin-left: 149px;
}

.heroImage {
  height: 324px;
  padding-left: 100px;
  align-self: flex-end;
  margin-bottom: 150px;
}

.hero {
  height: 918px;
  display: flex;
  align-items: left;
  justify-content: left;
}

.hero img {
  align-self: flex-end;
}

@media screen and (max-width: 1440px) {

  .hero h1 {
    font-size: 11vw;
    padding-left: 0;
  }
  .heroContent{
    height: 600px;
    margin-left: 0;
    margin-top: 200px;
    margin-left: 40px;
  }
  .heroImage {
    padding: 0;
    margin-top: 500px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 70vw;
    padding: 0;
    position: absolute;
    align-self: flex-start;
  }
  .heroImage img{
    width: 30vw;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 700px;
  }
  .heroContent{
    margin-left: 40px;
    padding-left: 0;
    margin-top: 200px;
  }
  .hero h1 {
    font-size: 10vw;
    margin-left: 0px;
    padding-left: 0;
  }

  .heroImage img {
width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero h1 {
    font-size: 9vw;
    margin-left: 0px;
    padding-left: 0;
  }
  .heroContent{
    margin-left: 20px;
    padding-left: 0;
    margin-top: 120px;
  }
  .navbar-brand .logo img {
    width: 200px;
  }
  .heroImage{
    padding-left: 0;
  }
  .heroImage img{
    width: 200px;
  }
  .heroImage {
    padding: 0;
    margin-top: 230px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 60vw;
    padding: 0;
    position: absolute;
    align-self: flex-start;
  }

  
}

@media screen and (max-width: 480px) {
  .navbar-brand .logo img {
    width: 200px;
  }

  .hero h1 {
    font-size: 10vw;
    margin-left: 5px;
    padding-left: 0;
  }

  .hero {
    height: 440px;
  }

  .heroContent {
    margin-top: 150px;
    margin-left: 17px;
    width: 300px;
  }
  .heroImage {
    padding: 0;
    margin-top: 230px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 50vw;
    padding: 0;
    position: absolute;
    align-self: flex-start;
  }

  .heroImage Img {
    height: 130px;
  }
}
