@media screen and (max-width: 480px) {
  .logo img {
    width: 70vw;
  }

  .hero h1 {
    font-size: 50px;
    margin-left: 5px;
    padding-left: 0;
  }

  .hero {
    height: 440px;
  }

  .heroContent {
    margin-top: 150px;
    margin-left: 17px;
    width: 300px;
  }

  .purpleText {
    width: 280px;
  }

  .heroImage {
    padding: 0;
    margin-top: 130px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 240px;
    padding: 0;
    position: absolute;
    align-self: flex-start;
  }

  .heroImage Img {
    height: 130px;
  }

  .curlicue {
    height: 130px;
    width: 130px;
  }

  .rotateAntiClockwise .projectWrapper img {
    width: 200px;
  }

  .eyecatcher {
    height: 100px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
    margin-left: 5px;
  }

  .newsDate {
    font-size: 20px;
  }

  .bodyText {
    font-size: 20px;
  }

  .bodyButton {
    font-size: 28px;
    margin-right: 5px;
  }

  .projectText {
    max-width: 90vw;
  }

  .bodyTextLarge {
    font-size: 20px;
  }

  .projectWrapper img {
    width: 220px;
    position: absolute;
    z-index: -1;
  }

  .projectImageWrapper {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 130px;
  }

  .projectOneImage {
    margin: 0;
  }
  .projectTwoImage {
    margin: 0;
  }
  .projectThreeImage {
    margin: 0;
  }

  .newsAndSocial {
    max-width: 90vw;
  }
}
