.container-fluid {
  background: #23272D;
}

.navigation a {
  text-decoration: none;
  font-family: "Aldrich";
  font-weight: 400;
  font-size: 36px;
  color: #FAF8F8;
}

.navigation a:hover{
  color: #8237E1;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 300;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
  padding-bottom: 0;
}
@media (max-width: 993px) {
  .navbar-nav a{
    text-align: right;
  }
}

@media (min-width: 993px) {
  .navbar-nav a{
    padding-left: 45px;
  }
}

