nav {
  position: absolute;
  right: 0;
}

.container-fluid {
  background: #23272d;
}

.navigation a {
  text-decoration: none;
  font-family: "Aldrich";
  font-weight: 400;
  font-size: 36px;
  color: #faf8f8;
  margin: 20px;
}

.navigation a:hover {
  color: #8237e1;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 300;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
  padding-bottom: 0;
}

.navbar-toggler {
  border: none;
}

@media (min-width: 993px) {
  .navbar-nav a {
    text-align: right;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand .logo img {
    width: 20wv;
  }

  .navbar-nav a {
    text-align: right;
    padding-left: 45px;
    font-size: 25px;
  }
  .navbar {
    padding-right: 0;
  }
}
