.curlicue {
  align-self: right;
}

/* projects */

.projectsHeader h3 {
  font-family: "jura";
  font-size: 100px;
}

/* Buttons inside projects section */

.bodyButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 200%;
}

.bodyButton:hover {
  background-color: #8237e1;
  color: #23272d;
  cursor: pointer;
}

.projectOne {
  background-image: url("/images/prideProject.png");
  background-size: cover;
  background-position: center;
}

/* images inside of projects section */

.projectImages {
  position: relative;
}

/* Text above image in projects */

.projects p {
  position: absolute;
  text-align: left;
  /* font-size: 70px; */
}

.projects button {
  position: absolute;
}

.projects h3 {
  position: absolute;
}
