.curlicue {
  align-self: right;
}

/* projects */

.projectWrapper img {
  width: 640px;
  position: absolute;
  z-index: -1;
}

.projectGridWrapper {
  width: 100%;
}
.projectImageWrapper {
  align-self: center;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 150px);
  grid-template-rows: repeat(10, 130px);
}

.projectOneImage {
  grid-column: 2/10;
  grid-row: 3/10;
  opacity: 0.5;
}

.projectTwoImage {
  grid-column: 8/10;
  grid-row: 3/10;
  opacity: 0.5;
}

.projectThreeImage {
  grid-column: 2/10;
  grid-row: 3/10;
  opacity: 0.5;
}

/* Buttons inside projects section */

.projectsButtons {
  margin-right: 25px;
}
.bodyButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 60px;
}

.bodyButton:hover {
  background-color: #8237e1;
  color: #23272d;
  cursor: pointer;
}

/* images inside of projects section */

.projectImages {
  position: relative;
}

/* Text above image in projects */

.projects p {
  position: absolute;
  text-align: left;
  /* font-size: 70px; */
}

.projects button {
  position: absolute;
}

.projectTitle h3 {
  margin-top: 20px;
}
