/* general styling, such as font sizes and colors that apply to the whole website goes here */

* {
  margin: 0%;
  box-sizing: border-box;
  color: #faf8f8;
}

p {
  font-family: "jura";
}

body {
  background-color: #23272d;
  overflow-x: hidden;
}

.bodyButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  transition: 0.4s;
  border-radius: 5px;
}

.bodyButton:hover {
  background-color: #faf8f8;
  color: #23272d;
}

.flexParent {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.divider {
  border: 1px solid #faf8f8;
}

.logo {
  color: #faf8f8;
  font-family: "Aldrich";
  font-size: 48px;
}

h1 {
  font-family: "Aldrich";
  font-size: 144px;
  font-weight: 400;
}

h2 {
  font-family: "Jura";
  font-size: 100px;
  font-weight: 700;
}

.purpleText {
  color: #8237e1;
  display: inline-block;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

/* Fade in purple text */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.rollingProjects {
  color: FAF8F8;
  font-family: "Aldrich";
  font-size: 144px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}


/* Scrolling text */

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}