/* general styling, such as font sizes and colors that apply to the whole website goes here */

* {
  margin: 0%;
  box-sizing: border-box;
  color: #faf8f8;
}

p {
  font-family: "jura";
}

body {
  background-color: #23272d;
  overflow-x: hidden;
}

.logo {
  color: #faf8f8;
  font-family: "Aldrich";
  font-size: 48px;
}

h1 {
  font-family: "Aldrich";
  font-size: 144px;
  font-weight: 400;
}

h2 {
  font-family: "Jura";
  font-size: 100px;
  font-weight: 700;
}

h3 {
  font-family: "Jura";
  font-size: 70px;
  font-weight: 600;
}

.bodyText {
  font-size: 40px;
  font-family: "Jura";
  font-weight: 600;
}

.bodyTextLarge {
  font-family: "Jura";
  font-size: 70px;
  font-weight: 600;
}

.purpleText {
  color: #8237e1;
}

/* Fade in text */

.fadeIn {
  display: inline-block;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rollingProjects {
  color: FAF8F8;
  font-family: "Aldrich";
  font-size: 144px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

/* Scrolling text */

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 8px;
  border-style: solid;
  width: 100%;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .newsDate {
    font-size: 20px;
  }

  .bodyText {
    font-size: 20px;
  }
}
