/* general styling, such as font sizes and colors that apply to the whole website goes here */

* {
  margin: 0%;
  box-sizing: border-box;
  color: #faf8f8;
}

body {
  max-width: 2560px;
  overflow-x: hidden;
}
.flexParent {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

p {
  font-family: "jura";
}

body {
  background-color: #23272d;
  overflow-x: hidden;
}
.line {
  margin-top: 10px;
  border-bottom: 8px solid;
}

.logo {
  color: #faf8f8;
  font-family: "Aldrich";
  font-size: 48px;
}

h1 {
  font-family: "Aldrich";
  font-size: 144px;
  font-weight: 400;
}

h2 {
  font-family: "Jura";
  font-size: 100px;
  font-weight: 700;
}

h3 {
  font-family: "Jura";
  font-size: 70px;
  font-weight: 600;
}

.bodyText {
  font-size: 40px;
  font-family: "Jura";
  font-weight: 600;
  line-height: 1.2em;
}

.bodyTextLarge {
  font-family: "Jura";
  font-size: 70px;
  font-weight: 600;
  line-height: 1.2em;
}

.purpleText {
  color: #8237e1;
}
/*align curlique right */
.alignRight {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 50px;
}

/* Fade in text */

.fadeIn {
  display: inline-block;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rollingProjects {
  color: FAF8F8;
  font-family: "Aldrich";
  font-size: 144px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}

/* Scrolling text */

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@media screen and (max-width: 480px) {
  .purpleText {
    width: 280px;
  }

  .curlicue {
    height: 130px;
    width: 130px;
  }

  .eyecatcher {
    height: 100px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
    margin-left: 5px;
  }
}
