/*flexbox, grid general positioning goes here */
.flexParent {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

nav {
  position: absolute;
  right: 0;
}

.hero {
  height: 918px;
  display: flex;
  align-items: left;
  justify-content: left;
}

.hero img {
  align-self: flex-end;
}

/* Main */

.newsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.news {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  justify-content: center;
  width: 89vw;
  height: 394px;
  background: linear-gradient(90deg, #23272d 0%, #171b22 49.48%, #23272d 100%);
}

.newsLeft {
  width: 30%;
  height: 200px;
  margin-right: 50px;
  align-self: center;
}

.newsDate {
  font-size: 40px;
  font-family: "Jura";
  font-weight: 600;
  align-self: flex-end;
  padding: 10px;
}

.newsRight {
  width: 70%;
  height: 91x;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: "Jura";
  font-weight: 600;
}

.eyecatcher {
  width: 100%;
  height: 200px;
}

/* Projects */

.projects {
  display: flex;
  align-items: center;
  width: 100%;
  height: 859px;
  margin-top: 30px;
  margin-bottom: 100px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px;
  border-style: solid;
}

/* Second and third project-box */

.secondAndThird {
  border-top: 1px;
  border-style: solid;
}

/* general project styling */

.projectsHeader {
  align-self: flex-start;
  margin-top: 5%;
}

.projectsText {
  width: 500px;
  height: 350px;
  text-align: center;
  font-size: 70px;
}

/* projects images */

.projectsImagesWrapper {
}

/* Project buttons */

.projectsButtons {
  align-self: flex-end;
  margin-bottom: 5%;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #23272d 0%, #171b22 49.48%, #23272d 100%);
}

.aboutChild {
  height: 415px;
  width: 1134px;
}

.alignRight {
  display: flex;
  align-items: right;
  justify-content: right;
}

/* Footer */

.footerWrapper {
  display: flex;
  flex-direction: row;
}

.logoAndQuestions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.callToAction {
  margin: 5px;
  right: 0%;
}
.footerFlex {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.newsAndSocial {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.newsLetter {
  align-self: center;
  margin: 5px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px;
}
.socialMediaMobile {
  display: none;
}

.serviceWrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-top: 20%;
}

.services {
  margin: 10px;
  text-align: center;
}

/* Media screens */

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 750px) {
  .newsParent {
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: auto;
  }

  .news {
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 100%;
  }

  .newsLeft {
    margin-right: auto;
  }

  .newsRight {
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .newsParent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
  }

  .news {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: center;
    width: 89vw;
    height: 295px;
  }

  .newsLeft {
    align-self: flex-start;
    padding-bottom: 500px;
  }

  .newsRight {
    position: absolute;
    width: 90vw;
    margin-left: 10px;
  }

  .newsRight article {
    margin-top: 20px;
  }

  .eyecatcher {
    margin-left: 5px;
  }
}
